$base_color: #735b96;
$admin_color_panel_background: #fff;
$border_color_light: #ddd;
$admin_logo_color: #735b96;
$body_color: #000;
$main_color: #274472;
$color_disabled: #f1f1f1;
$accent_color_alt: #627227;
$accent_color: #722727;
$accent_color_hover: #722727;
$color_white: #ffffff;
$color_black: #000000;
$secondary_color: #e2e3e5;
$secondary_text_color: #383d41;
$secondary_border_color: #d6d8db;
$success_color: #d4edda;
$success_text_color: #155724;
$success_border_color: #c3e6cb;
$info_color: #d1ecf1;
$info_border_color: #bee5eb;
$info_text_color: #0c5460;
$warning_color: #fff3cd;
$warning_border_color: #ffeeba;
$warning_text_color: #856404;
$error_color: #f8d7da;
$error_border_color: #f5c6cb;
$error_text_color: #721c24;
$danger_background_color: #721c24;
$danger_text_color: #ffffff;
$save_button_color: #22721c;
$save_button_color_text: #fff;
$primary_button_color: #1c3472;
$primary_button_color_text: #fff;
$secondary_button_color: #6c757d;
$secondary_button_color_text: #fff;
$edit_button_color: #f8f9fa;
$edit_button_color_text: #000;
$delete_button_color: #721c24;
$delete_button_color_text: #fff;
$danger_button_color: #721c24;
$danger_button_color_text: #fff;
$table_heading_background_color: $accent_color;
$table_heading_text_color: #ffffff;
$table_body_odd_background_color: #f1f1f1;
$table_body_even_background_color: #ffffff;

/* Tab Icons */
.nav-tab-wrapper {
	.lww-icon-tab {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		width: 25px;
		height: 25px;
		opacity: 0.7;
		margin-right: 5px;
		color: lighten($base_color, 15%);
	}
	.nav-tab-active .lww-icon-tab {
		color: darken($base_color, 10%);
	}
}
.lww-desc {
	color: $base_color;
}
blockquote{
	font-size: 1.4em;
	width:60%;
	margin:50px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style:italic;
	color: $base_color;
	padding:1.2em 30px 1.2em 75px;
	border-left:8px solid darken( $base_color, 10%);
	line-height:1.6;
	position: relative;
	background:#EEE;
  }
  
  blockquote::before{
	font-family:Arial;
	content: "\201C";
	color: $base_color;
	font-size:4em;
	position: absolute;
	left: 10px;
	top:-10px;
  }
  
  blockquote::after{
	content: '';
  }
  
  blockquote span{
	display:block;
	color:#333333;
	font-style: normal;
	font-weight: bold;
	margin-top:1em;
  }